/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #5A6175;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #EE5614;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 36px;
    width: 36px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    top: 0;

    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  /* General sidebar styles */
  .bm-menu {
    top: 0;
    background: #5A6175;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #5A6175;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #fff;
    padding: 0.8em;
    text-align: center;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
  }